<a href="https://colab.research.google.com/github/mars-aria/HU_DSBootcamp_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print("This program will check to see if two values are the same.")
string1 = input("Enter a name: ")
string2 = input("Enter another name: ")

if string1 == string2:
    print("They are the same!")
else:
    print("They are not the same.")

This program will check to see if two values are the same.
Enter a name: Marshanah
Enter another name: Marshanah
They are the same!

In [11]:

string11 = "It's Friday!"
string12 = "It's Friday!"
#print(string11 is string12)
print(string11 == string12) # These two are not the same because they have different variable names.
#However, it makes sense for the output to be True after using the '==' operator because they do have the same value assigned to them.

True

In [59]:
#welcome = "Hello Black World"
#length = len(welcome)
phrase = "Black is beautiful!"
new_length = len(phrase)
#print(length)
print(new_length)

19

In [55]:
#my_string = "Hello!"
#character = my_string[5]
new_string = "Greetings!"
new_character = new_string[-4] # this does the same as my_string[6]
#print(character)
print(new_character)

n

In [25]:
my_string = "House"
#my_string[0] = "M"
#print(my_string)

my_string = "House"
my_string = "Home"
my_string = "Casa" # I assigned the variable my_string a new value of "Casa".
print(my_string)

Casa

In [31]:
my_string = "The brown dog jumps over the lazy fox."

#print("jumps" in my_string)
print("purple" in my_string) # The output is False because purple is not in the string.

False

In [36]:
my_string = "The brown dog jumps over the lazy fox."
#my_slice = my_string[4:9]
my_slice = my_string[34:37] # this calls the index numbers for 'fox' instead of 'brown'.

print(my_slice)

fox

In [43]:
my_string = "Hello world"

for char in my_string[0:5]: # only prints the first five characters.
    print(char)

H
e
l
l
o

In [64]:
string1 = "It's Friday!"
string2 = "It's friday!"
string3 = "TGIF!"
print(string1 != string3) # I changed the operator from '==' to '!='. I also created a third string variable.

True

In [61]:
NameF = input("What is your first name? ")
NameMI = input("What is your middle intial? ")
NameL = input("What is your last name? ")

#print (NameF + NameMI + NameL)

print(NameF + ' '+ NameMI + ' '+ NameL)

What is your first name? Marshanah
What is your middle intial? R
What is your last name? Taylor
Marshanah R Taylor

In [63]:
print("This program will check to see if two values are the same.")
string1 = input("Enter a value: ").lower()
string2 = input("Enter another value: ").lower()
if string1 == string2:
    print("They are the same!")
else:
    print("They are not the same.")

This program will check to see if two values are the same.
Enter a value: blah blah blah
Enter another value: Blah Blah Blah
They are the same!

In [65]:
print(string3)

TGIF!

In [79]:
age = int(input("Enter your age: "))

Enter your age: 12

In [80]:
if age < 18:
    print("You are underage.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are underage.

In [81]:
if age < 21:
    print("You are too young to drink alcohol.")
elif age >= 18 and age < 65:
    print("You are old enough to drink alcohol.")
else:
    print("You are old enough to drink alcohol responsibly, if there are no health issues that permit you from partaking.")

You are too young to drink alcohol.